.react-datepicker__day--selected {
    background-color: #9747FF !important;
    border-color: #9747FF !important;
}

.react-datepicker__input-container input:focus {
    outline: none !important;
    border-color: #9747FF !important;
    box-shadow: 0 0 0 2px rgba(151, 71, 255, 0.2) !important;
}